#alphabet{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 70%;
    justify-self: flex-end;
}

.letter{
    width: 85px;
    height: 85px;
    text-align: center;
    font-size: 3.5rem;
    line-height: 80px;
    font-weight: 600;
    background: var(--letter-not-used);
    color: var(--main-background);
    border-radius: 1rem;
    cursor: pointer;
}

.marked{
    background: var(--letter-used);
    pointer-events: none;
}

.letter:hover{
    box-shadow: 0 0 5px 5px var(--letter-not-used);
}