#alphabet{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    width: 60%;
    justify-self: flex-end;
}

.letter{
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 3.5rem;
    line-height: 90px;
    font-weight: 600;
    background: var(--letter-not-used);
    color: var(--main-background);
    border-radius: 1rem;
    cursor: pointer;
}

.letter:hover{
    box-shadow: 0 0 5px 5px var(--letter-not-used);
}