#password{
    width: 80%;
    color: var(--letter-not-used);
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.char-container{
    width: 90px;
    height: 90px;
    font-size: 4rem;
    border: 1px solid var(--letter-not-used);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-char{
    display: block;
    text-align: center;
    opacity: 0;
}

.char-visible{
    width: 100%;
    height: 100%;
    opacity: 1;
    background: var(--button-background);
}