#password{
    width: 80%;
    color: var(--letter-not-used);
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
}

.char-container{
    display: inline-block;
    width: 90px;
    height: 90px;
    font-size: 4rem;
    border: 1px solid var(--letter-not-used);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-char{
    display: block;
    text-align: center;
    opacity: 0;
}

.char-visible{
    opacity: 1;
    background: var(--button-background);
}