#password{
    width: 80%;
    color: white;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.task-letter{
    width: 90px;
    height: 90px;
    font-size: 4rem;
    line-height: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}